* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  width: 100vw;
  height: 100vh;
}
.logo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.logo > * {
  position: absolute;
}
/* o círculo colorido */
.gradient {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(1, 80, 1), white, white, red);
  animation: gr 1s cubic-bezier(0.32, 1.43, 0.79, 1.15) forwards;
}
@keyframes gr {
  0% {
    transform: translateY(-200px) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
/* o fundinho branco atrás do logo */
.back {
  width: 490px;
  height: 490px;
  background: #fff;
  border-radius: 50%;
}
/* a imagem com todos os efeitos */
img {
  width: 350px;
  height: 180px;
  align-items: center;
  animation: im 2s cubic-bezier(0.32, 1.43, 0.79, 1.15) forwards;
  animation-delay: 1s;
  transform: translateY(200px) scale(0);
  opacity: 0;
}
img:hover {
  width: 385px;
  height: 198px; /* Modify this according to your need */
  transition: 0.5s;
}
@keyframes im {
  0% {
    transform: translateY(200px) scale(0);
    opacity: 0;
  }
  25% {
    transform: translateY(0px) scale(0.6);
    opacity: 1;
  }
  50% {
    transform: translateY(0px) scale(0) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scale(1) rotate(0deg);
    opacity: 1;
  }
}
.shade {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}
img,
.logo,
.gradient:active {
  opacity: 100%;
}
