.ItensNavbar {
    background: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}
.LogoNavbar {
    width: 130px;
}
.ItensNavbar li {
    margin-left: 50px;
    cursor: pointer;
}
.ItensNavbar i {
    color: #9F1212;
    font-size: 20px;
    margin-right: 10px;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    font-size: 12px;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-links-mobile { 
    display: none;
}
.menu-icon {
    display: none;
}
@media screen and (max-width: 960px) {
    .ItensNavbar{
        width: 100%;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
        position: absolute;
        top: 50px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background-color: whitesmoke;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}


