.modal {
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    /* display: none; */
  }
  
  .modal-content {
    margin: 0 auto;
    margin-top: 5%;
    max-width: 600px;
    background-color: #eee;
    padding: 0px;
    box-shadow: 0 0 2px #fff;
  }
  
  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 10px;
  }
  
  .modal-header {
    background-color: #ccc;
  }
  
  .modal-footer {
    background-color: #ccc;
  }
  
  .modal-header h1 {
    font-weight: bold;
    text-align: center;
  }